@font-face {
    font-family: 'lobsterregular';
    src: url('lobster-regular-webfont.woff2') format('woff2'),
         url('lobster-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'biorhymeregular';
    src: url('biorhyme-regular-webfont.woff2') format('woff2'),
         url('biorhyme-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'karlaregular';
    src: url('karla-regular-webfont.woff2') format('woff2'),
         url('karla-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'karlaregular';
    src: url('karla-regular-webfont.woff2') format('woff2'),
         url('karla-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'great_vibesregular';
    src: url('greatvibes-regular-webfont.woff2') format('woff2'),
         url('greatvibes-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sumanaregular';
    src: url('sumana-regular-webfont.woff2') format('woff2'),
         url('sumana-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@media only screen and (max-width: 1920px) {
#wrapper { 
    margin: 0 auto;
    width: 82%; 
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
    
#content-frame {
       display: flex; 
        align-items: center;
        width: 85%;
        margin: 10px auto 150px auto;
    }

#content-frame p h1 {
        font-weight: bolder;
    }

body { font-family: sans-serif;
        
    }
nav {
    background-color: #cce9ea;
    width: 100%;
}

nav ul li{
    list-style-type: none;
    text-align: center;
    width: auto;
    height: auto;
    display: inline-block;
}
li a{
    display: inline-block;
    text-decoration: none;
    color: black;
    line-height: auto;
    width: 150px;
    font-family: 'lobsterregular';
    font-size: 24px;
}

footer {background-color: #000000;
    text-align: center;
    font-family: sans-serif;
}

footer p{display: inline-block;
    color: white;
    margin-left: 7em;
    padding-right: 5em;
}

footer p a{text-decoration: none;}
footer p a:link{color: white;}
footer p a:hover{color: white;
    text-decoration: none;
}
footer p a:visited{color: white;}
footer p a:active{color: white;}

ul {list-style-type: none;}
li {display: inline-block;
    width: 300px;
    padding-top: 10px;
    margin: 10px;
}

.container{display: grid;
    grid-template-columns: 2;
    grid-gap: none;
}
.column1 {grid-column: 1/2;
    font-family: sans-serif;
    width: 500px;
    
}
    
.column1 p{text-align: center;
    margin-right: 30px;
    margin-left: 200px;
    width: 50%;
    font-size: 18px;
    margin-top: 70px;
    background-color: #e1f3f5;
    padding: 50px;
    text-align: left;
    }
    
}
.column1 h1{display: block;
    margin-bottom: none;
    margin-left: 250px;
    margin-right: 30px;
    width: 50%;
    margin-top: none;
    padding-top: none;
}
.column2 {grid-column: 2/3;
    text-align: center;
    margin-right: none;
    margin-top: 50px;
    width: 600px;
}
.collage figure{ margin: 100px 100px 25px 100px;
}

.gallery h1 {margin-left: 500px;
    margin-bottom: none;
    padding-bottom: none;
}

.gallery ul {margin-left: 150px;
    margin-right: 150px;
}
.gallery li {margin: none;}


/* Found the rotate option for images on W3Schools https://www.w3schools.com/cssref/css3_pr_transform.asp> */
.sign img {transform: rotate(90deg);
    position: absolute;
    right: 150px;
}

.staff {display: grid;
    grid-template-columns: 200px, 200px;
    grid-template-rows: 3;
    margin-top: 25px;
    margin-left: 180px;
    margin-right: 200px;
    grid-row-gap: none;
}

.staff h1 {grid-row: 1/2;
    grid-column: 1/2;
    margin-left: 80px;
}
.staff h2 {margin-left: 80px;
    font-size: 30px;
}

.staff .sign {grid-row: 1/2;
    grid-column: 2/3;
}

.staff figure {margin-top: 50px;
    grid-column: 1/2;
}

.staff p {
   /* rid-column: 2/3;
    padding-top: 150px;
    font-size: 18px; */
    
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    width: 50%;
    font-size: 18px;
    margin-top: 70px;
    background-color: #e1f3f5;
    padding: 50px;
    text-align: left;
    
}

.staff figcaption {text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
}

.catering {display: grid;
    grid-template-columns: 2;
    margin-left: 150px;
    margin-right: 100px;
}
.menu h1 {margin-left: 50px;}

.images {grid-column: 2/3;}
.images img {transform: rotate(90deg);
    margin-left: 150px;
}
.images ul li img {transform: none;
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}
.menu {grid-column: 1/2;}
.menu ul li {display: block;}


.forms {display: grid;
    grid-template-columns: 2;
    margin-left: 200px;
    margin-right: 200px;
    column-gap: 10px;
}

.forms h1, .contact {grid-column: 1/2;}
.map, .booking {grid-column: 2/3;}
.map {margin-top: 10px;}
.contact form {border-style: solid;
    border-color: #000000;
    border-width: 5px;
    margin-top: 10px;
    padding: 10px;
    background-color: #cce9ea;
}

.contact label {color: #000000;}
.contact p {color: #000000;}

.booking form{border-style: solid;
    border-color: #000000;
    border-width: 5px;
    margin-top: 10px;
    padding: 10px;
    background-color: #cce9ea;}

.booking label {color: #000000;}
.booking p {color: #000000;}

.logo {
    width: 150px;
}
.a-logo {
    width: 40%;
}

}
@media only screen and (max-width: 2560px) {
    #wrapper { 
    margin: 0 auto;
    width: 90%; 
}
}