@font-face {
    font-family: 'lobsterregular';
    src: url('lobster-regular-webfont.woff2') format('woff2'),
         url('lobster-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'biorhymeregular';
    src: url('biorhyme-regular-webfont.woff2') format('woff2'),
         url('biorhyme-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'karlaregular';
    src: url('karla-regular-webfont.woff2') format('woff2'),
         url('karla-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'karlaregular';
    src: url('karla-regular-webfont.woff2') format('woff2'),
         url('karla-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'great_vibesregular';
    src: url('greatvibes-regular-webfont.woff2') format('woff2'),
         url('greatvibes-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sumanaregular';
    src: url('sumana-regular-webfont.woff2') format('woff2'),
         url('sumana-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

nav {
    background-color: #0096eb;
    height: 75px;
    
}

nav ul{
    
}
nav ul li{
    list-style-type: none;
    display: inline;
    text-align: center;
}
li a{
    display: inline-block;
    text-decoration: none;
    color:black;
    line-height: 75px;
    width: 180px;
    font-family: 'lobsterregular';
    font-size: 24px;
}

footer {background-color: #000000;
    text-align: center;
}

footer p{display: inline-block;
    color: white;
    margin-left: 7em;
    padding-right: 5em;
}

footer p a{text-decoration: none;}
footer p a:link{color: white;}
footer p a:hover{color: white;
    text-decoration: none;
}
footer p a:visited{color: white;}
footer p a:active{color: white;}

ul {list-style-type: none;}
li {display: inline-block;
    width: 300px;
    padding-top: 10px;
    margin: 10px;
}